schema/track_builder.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.1.4.1284 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Network">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Metadata" type="MetadataType" />
        <xs:element name="MapImage" type="ImageType" />
        <xs:element name="TracksSegments">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="TrackSegment" type="SegmentType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Stations">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Station" type="StationType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="VehicleModels">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="VehicleModel" type="VehicleModelType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Vehicles">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" type="VehicleType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Waypoints">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Waypoint" type="WaypointType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Switches">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Switch" type="SwitchType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Merges">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Merge" type="MergeType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="GoogleTransitFeed" type="GoogleTransitFeedType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Type Definitions -->
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Center" type="CoordinateType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Northwest" type="CoordinateType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Southeast" type="CoordinateType" />
    </xs:sequence>
    <xs:attribute name="filename" type="xs:string" use="required" />
    <xs:attribute name="width" type="xs:nonNegativeInteger" use="required" />
    <xs:attribute name="height" type="xs:nonNegativeInteger" use="required" />
  </xs:complexType>
  <xs:simpleType name="IDType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="nonNegativeDecimal">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CoordinateType">
    <xs:attribute name="lat" type="xs:decimal" use="required" />
    <xs:attribute name="lng" type="xs:decimal" use="required" />
    <xs:attribute name="ground_level" type="nonNegativeDecimal" use="optional" />
    <xs:attribute name="offset" type="nonNegativeDecimal" use="optional" />
    <xs:attribute name="elevation" type="nonNegativeDecimal" use="optional" />
  </xs:complexType>
  <xs:complexType name="SegmentType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Start" type="CoordinateType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Center" type="CoordinateType" />
      <xs:element minOccurs="1" maxOccurs="1" name="End" type="CoordinateType" />
      <xs:element name="ConnectsFrom">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ID" type="IDType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConnectsTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ID" type="IDType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ParallelTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ID" type="IDType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="IDType" use="required" />
    <xs:attribute name="length" type="nonNegativeDecimal" use="required" />
    <xs:attribute name="label" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="preserve" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="max_speed" type="nonNegativeDecimal" use="optional" />
    <xs:attribute name="radius" type="nonNegativeDecimal" use="optional" />
    <xs:attribute name="arc_angle" type="nonNegativeDecimal" use="optional" />
  </xs:complexType>
  <xs:complexType name="StationType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="TrackSegmentID" type="IDType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Platform" type="PlatformType" />
      <xs:element name="Coverage" type="CoverageType" />
      <xs:element name="Usage" type="UsageType" />
    </xs:sequence>
    <xs:attribute name="id" type="IDType" use="required" />
    <xs:attribute name="label" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="PlatformType">
    <xs:sequence>
      <xs:element name="TrackSegmentID" type="IDType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Berth" type="BerthType" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:nonNegativeInteger" />
  </xs:complexType>
  <xs:complexType name="BerthType">
    <xs:sequence>
      <xs:element name="StartPosition" type="nonNegativeDecimal" />
      <xs:element name="EndPosition" type="nonNegativeDecimal" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:nonNegativeInteger" />
    <xs:attribute name="loading" type="xs:boolean" />
    <xs:attribute name="unloading" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="CoverageType">
    <xs:attribute name="radius" type="xs:nonNegativeInteger" />
  </xs:complexType>
  <xs:complexType name="UsageType">
    <xs:attribute name="peak_hour" type="xs:nonNegativeInteger" />
    <xs:attribute name="daily" type="xs:nonNegativeInteger" />
  </xs:complexType>
  <xs:complexType name="VehicleType">
    <xs:sequence>
      <xs:element name="LatLng" type="CoordinateType" />
    </xs:sequence>
    <xs:attribute name="id" type="IDType" use="required" />
    <xs:attribute name="location" type="IDType" use="required" />
    <xs:attribute name="position" type="nonNegativeDecimal" use="required" />
    <xs:attribute name="label" type="xs:string" use="optional" />
    <xs:attribute default="0" name="velocity" type="nonNegativeDecimal" use="optional" />
    <xs:attribute default="0" name="acceleration" type="nonNegativeDecimal" use="optional" />
  </xs:complexType>
  <xs:complexType name="VehicleModelType">
    <xs:sequence>
      <xs:element name="Jerk" type="LimitType" />
      <xs:element name="Acceleration" type="LimitType" />
      <xs:element name="Velocity" type="LimitType" />
    </xs:sequence>
    <xs:attribute name="model" type="xs:string" use="required" />
    <xs:attribute name="length" type="nonNegativeDecimal" use="required" />
    <xs:attribute name="passenger_capacity" type="xs:nonNegativeInteger" use="required" />
    <xs:attribute name="mass" type="xs:nonNegativeInteger" use="required" />
  </xs:complexType>
  <xs:complexType name="LimitType">
    <xs:attribute name="normal_max" type="xs:decimal" use="required" />
    <xs:attribute name="normal_min" type="xs:decimal" use="required" />
    <xs:attribute name="emergency_max" type="xs:decimal" use="optional" />
    <xs:attribute name="emergency_min" type="xs:decimal" use="optional" />
  </xs:complexType>
  <xs:complexType name="WaypointType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LatLng" type="CoordinateType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Incoming" type="IDType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Outgoing" type="IDType" />
    </xs:sequence>
    <xs:attribute name="id" type="IDType" use="required" />
    <xs:attribute name="max_speed" type="nonNegativeDecimal" use="required" />
  </xs:complexType>
  <xs:complexType name="SwitchType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LatLng" type="CoordinateType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Incoming" type="IDType" />
      <xs:element minOccurs="2" maxOccurs="unbounded" name="Outgoing" type="IDType" />
    </xs:sequence>
    <xs:attribute name="id" type="IDType" use="required" />
    <xs:attribute name="max_speed" type="nonNegativeDecimal" use="required" />
  </xs:complexType>
  <xs:complexType name="MergeType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LatLng" type="CoordinateType" />
      <xs:element minOccurs="2" maxOccurs="unbounded" name="Incoming" type="IDType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Outgoing" type="IDType" />
    </xs:sequence>
    <xs:attribute name="id" type="IDType" use="required" />
    <xs:attribute name="max_speed" type="nonNegativeDecimal" use="required" />
  </xs:complexType>
  <xs:complexType name="GoogleTransitFeedType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Route" type="RouteType" />
      <xs:element name="Neighbors">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Station" type="NeighborStationType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="date" type="xs:date" use="optional" />
    <xs:attribute name="start_time" type="xs:time" use="optional" />
  </xs:complexType>
  <xs:complexType name="RouteType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Trip" type="TripType" />
    </xs:sequence>
    <xs:attribute name="route_id" type="IDType" use="required" />
    <xs:attribute name="service_id" type="IDType" use="required" />
  </xs:complexType>
  <xs:complexType name="TripType">
    <xs:sequence>
      <xs:element minOccurs="2" maxOccurs="unbounded" name="Stop" type="StopType" />
    </xs:sequence>
    <xs:attribute name="trip_id" type="IDType" use="required" />
    <xs:attribute name="vehicle_id" type="IDType" use="required" />
  </xs:complexType>
  <xs:complexType name="StopType">
    <xs:sequence>
      <xs:element name="Arrival" type="xs:integer" />
      <xs:element name="Departure" type="xs:integer" />
    </xs:sequence>
    <xs:attribute name="station_id" type="IDType" use="required" />
  </xs:complexType>
  <xs:complexType name="NeighborStationType">
    <xs:sequence>
      <xs:element name="Neighbor" type="NeighborType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="IDType" />
  </xs:complexType>
  <xs:complexType name="NeighborType">
    <xs:attribute name="station_id" type="IDType" />
    <xs:attribute name="distance" type="xs:nonNegativeInteger" />
  </xs:complexType>
</xs:schema>